body {
  background-color: rgba(0, 128, 0, 0.701);
  background-image: url('../images/foto\ fundo.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

h2 {
  align-items: center;
  color: #003be5;
  display: flex;
  font-size: 35px;
  font-weight: 100;
}

span {
  color: #2fc18c;
  font-weight: 700;
}

input {
  background: white;
  border: 1px solid #003be5;
  border-radius: 5px;
  color: #003be5;
  margin-bottom: 10px;
  padding: 5px 15px;
}

input:focus {
  border: 3px solid #003be5;
  outline: none;
}

.login-container {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.login-content {
  align-items: center;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 400px;
}

.btn-container {
  background: #003be5;
  border: 1px solid #003be5;
  border-radius: 5px;
  color: white;
  margin-bottom: 20px;
  padding: 5px 18px;
  width: 51%;
}

.btn-container:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.btn-container:hover:enabled {
  opacity: 0.7;
}

::placeholder {
  color: #003be5;
  font-family: Times New Roman, Times, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
}

